<div (click)="open()" class="stock-search-component-small">
  <div class="stock-search">
    <input [ngModel]="search"
 (ngModelChange)="searchFunc($event)" class="search-box" placeholder="Search stock..." title="Search for stock information" />

    <div class="icon-search-wrapper">
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div *ngIf="searchTickers.length && show" (click)="clear() && hide()" class="stock-search-result">
    <div *ngFor="let stock of searchTickers" class="search-result-item">
      <div class="search-result-image">
        <img [src]="getStockImage(stock.symbol)" [alt]="stock.name" />
      </div>

      <div class="search-result-name">
        <strong>{{ stock.symbol }}</strong> |
        <strong>{{ stock.name }}</strong> |
        <strong>{{ stock.stockExchange }}</strong>
      </div>
    </div>
  </div>
</div>
